* {
  font-family: Helvetica;
  text-align: center;
}

.header {
  background-image: url("../images/background.png");
}

#main-title {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#nav a {
  color: white;
  font-size: 18px;
}

#The-process {
  font-size: 32px;
  font-weight: bold;
}

#divider {
  color: white;
  background-image: url("../images/background.png")
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.subhead {
  font-size: 14px;
}
